@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flash-border {
  0% {
    border-color: black;
  }
  100% {
    border-color: white;
  }
}

@keyframes rainbow-border {
  0% { border-color: #ff0000; }
  16.66% { border-color: #ff8000; }
  33.33% { border-color: #ffff00; }
  50% { border-color: #00ff00; }
  66.66% { border-color: #0080ff; }
  83.33% { border-color: #8000ff; }
  100% { border-color: #ff0000; }
}

.animate-rainbow-border {
  animation: rainbow-border 2s linear infinite;
}
